In [ ]:
# pip install pyscopg2 
#install package for python

In [1]:
import psycopg2

In [27]:
conn= psycopg2.connect(host="localhost", dbname="student", user="postgres", password="pranay1991", port=5432)

In [28]:
cur=conn.cursor()

In [29]:
createq="""CREATE TABLE IF NOT EXISTS studentinfo (
            id INT PRIMARY KEY,
            NAME VARCHAR(200),
            AGE INT,
            SEX CHAR(6)
);
"""

In [30]:
try:
    cur.execute(createq)
    conn.commit()
    print("Successful")
except (Exception, psycopg2.Error) as error:
    if conn:
        conn.rollback()
    print("Error", error)
# finally:
#     if conn:
#         conn.autocommit=True
#         cur.close()
#         conn.close()

Successful

In [41]:
insertq=""" INSERT INTO studentinfo (id, name, age, sex) VALUES 
(1,'Pranay', 32, 'M'),
(2,'Pinkoo', 28, 'M'),
(3,'Mike', 36, 'M'),
(4,'Tara', 16, 'F'),
(5,'Alley', 28, 'F'),
(6,'Barbie', 33, 'F')

"""

In [42]:
try:
    cur.execute(insertq)
    conn.commit()
    print("insert done")
except (Exception, psycopg2.Error) as Error2:
    if conn:
        conn.rollback()
    print(Error2)

insert done

In [43]:
testq=""" select * from studentinfo """

In [46]:
cur.execute(testq)
print(cur.fetchone())

(1, 'Pranay', 32, 'M     ')

In [48]:
cur.execute(testq)

for row in cur.fetchall():
    print(row)

(1, 'Pranay', 32, 'M     ')
(2, 'Pinkoo', 28, 'M     ')
(3, 'Mike', 36, 'M     ')
(4, 'Tara', 16, 'F     ')
(5, 'Alley', 28, 'F     ')
(6, 'Barbie', 33, 'F     ')